<!DOCTYPE html>
<html>
  <head>
    <title>Scrapper69</title>
    <h1> Bienvenue sur ma page de merde de scrapper</h1>
    <h2> si tu es ici c'est que t'es perdu dans la vie quand même...</h2>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
